---
import TailwindIcon from "../icons/Tailwindcss.astro";
import AstroIcon from "../icons/Icono.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import JavaIcon from "../icons/java.astro";
import CIcon from "../icons/C.astro";
import GitHubIcon from "../icons/GitHub.astro";


const TAGS = {
    ASTRO: {
        name: "Astro ",
        class: "bg-black text-white",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-black text-white",
        icon: TailwindIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black text-white",
        icon: JavaScriptIcon,
    },
    C: {
        name: "C++",
        class: "bg-black text-white",
        icon: CIcon,
    },
    JAVA: {
        name: "Java",
        class: "bg-black text-white",
        icon: JavaIcon,
    },
    GITHUB: {
        name: "GitHub",
        class: "bg-black text-white",
        icon: GitHubIcon,
    },
};

const PROJECTS = [
    {
        title: "Aeropuerto",
        description: `Simulación de aeropuertos que utiliza una serie de elementos interconectados que 
                    interactúan para lograr el funcionamiento del intercambio de aviones y pasajeros de dos 
                    aeropuertos (Madrid y Barcelona), consta de dos componentes principales 
                    (aparte de los aeropuertos). Estas son los aviones y los autobuses.`,
        github: "https://github.com/ChristianNoguerales/Aeropuerto",
        image: "/Aeropuerto.png",
        tags: [TAGS.JAVA,],
    },
    {
        title: "Paqueteria",
        description: `Sistema de simulación que represente el funcionamiento de una red de distribución de 
                    paquetería, utilizando estructuras de datos como árboles binarios de búsqueda (ABB) y 
                    listas enlazadas. Este sistema permite insertar, distribuir, buscar, eliminar y mover 
                    paquetes entre centrales de forma eficiente.`,
        github: "https://github.com/ChristianNoguerales/Paqueteria",
        image: "/Paqueteria.png",
        tags: [TAGS.C],
    },
    {
        title: "Porfolio",
        description: `Este porfolio ha sido desarrollado como una extensión de mi currículum, combinando diseño 
            minimalista y funcionalidad web moderna para reflejar tanto mi perfil profesional como mis 
            habilidades técnicas. Lo he construido utilizando Visual Studio Code como entorno de desarrollo, 
            junto con tecnologías punteras del desarrollo web: Astro como framework base: me ha permitido 
            crear una web rápida, optimizada y centrada en el contenido, ideal para un porfolio personal.
            Tailwind CSS: utilizado para diseñar una interfaz limpia y adaptable, con un estilo minimalista que 
            sigue la estética del currículum en el que me inspiré. JavaScript: implementado para añadir 
            interactividad y dinamismo a ciertos elementos de la web, manteniendo una navegación fluida y 
            moderna.`,
        github: "https://github.com/ChristianNoguerales/Porfolio.Christian",
        image: "/Porfolio.png",
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
    },

];
---
<style>
    .montserrat-400 {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;   
      font-style: normal;
    }
    </style>
<div
  class="montserrat-400 grid grid-cols-1 md:grid-cols-2 gap-8 justify-center items-center px-8 md:px-16 2xl:px-60"
>

    {
        PROJECTS.map(({ image, title, description, tags, github }) => (
            <div class="h-full cursor-pointer">
                <article class="h-full group grid gap-2 items-center bg-white/10 shadow-xl rounded-2xl overflow-hidden mb-8 hover-shadow-mint transition transform hover:scale-105 hover:translate-x-2 hover:translate-y-2 duration-300">
                    <img
                        class="p-6 rounded shadow-2xl shadow-white/10"
                        src={image}

                        alt={`Captura de pantalla del proyecto ${image}`
                        }
                    />
                    <h3 class="text-2xl font-bold mb-2 mt-2 lg:px-6 px-6 montserrat-400">
                        {title}
                    </h3>
                    <p class="text-lg mb-2 font-normal lg:px-6 p-6">{description}</p>
                    <div class="flex justify-between items-center mt-2">

                    <ul class="flex lg:gap-x-2 gap-x-1 flex-row lg:px-6 px-1 ">
                    {tags.map((tag) => (
                        <li>
                            <span class={`flex justify-between items-center lg:gap-x-2 gap-x-1 rounded-full text-xs ${tag.class} lg:py-3 lg:px-2 py-0.5 px-0.5`}>
                                <tag.icon class="lg:size-5 size-3" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                    </ul>

                {github && (
                <a href={github} target="_blank" rel="noopener noreferrer" class="flex items-center gap-1 text-white hover-mint hover:underline text-sm lg:px-6 px-1">
                    <GitHubIcon class="lg:size-5 size-3" />
                    <span>GitHub</span>
                </a>
                    )}
                    </div>

                </article>
            </div>
            ))
        }
</div>
